.ct__container {
  background: url("../../assets/carousel-resume-templates-1093@3x.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.ct__btn {
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 200px);
  z-index: 999;
  background-color: #e44747;
  border-radius: 0.5rem;
  border: none;
  width: 400px;
  height: 60px;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}
