.banner {
  background-image: url("../../assets/jumbotron-768@1_25x.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}
.home--banner {
  position: relative;
}
.banner--title {
  position: absolute;
  top: 25%;
  right: calc(50% - 400px);
  text-align: center;
  font-size: 2rem;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
}
.home--tryoutbtn {
  position: absolute;
  top: 60%;
  right: calc(50% - 150px);
  z-index: 999;
  background-color: #e44747;
  border-radius: 2rem;
  border: none;
  width: 300px;
  height: 50px;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}
