.home--banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  height: 50vh;
}
.banner--title {
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Sofia Sans", sans-serif;
}
.home--tryoutbtn {
  background-color: #e44747;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.banner-context {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.home__banner--logo {
  width: 400px;
}

.banner__highliter {
  font-size: 3.5rem;
}
